**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/

.git/
.gitignore

LilyMarket.Tests/bin/
LilyMarket.Tests/obj/

LilyMarket.Api/wwwroot/uploads/

*.user
*.suo
*.cache
*.log

Dockerfile
docker-compose.override.yml